
#form {
	width: 300px;
	margin: auto;
	color: cornsilk;
	background-size: 100%;
	
	
}
#cuerpo{
	background-image: url('fondo.jpg');
    background-repeat: repeat;
}

h1{
	text-align: center;
	color: rgba(209, 120, 117, 0.699);
}

td {
	padding-top: 10px;
	padding-right: 15px;
}

#btn {
	text-align: center;

}
.error {
	border: 0.5px solid red;
}

.p {
	display: block !important;
	color: red;
}